<!DOCTYPE html>
<html>
<head>
    <title>หน้าแรก</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>ยินดีต้อนรับ</h1>
    <p>บริการจัดส่งของภายในโรงเรียนเลิงนกทา</p>
    <br>
    <p>*ค่าบริการจัดส่ง 1 บาท/ครั้ง*</p>
    <p>**ของที่จัดส่งจะต้องไม่ขัดต่อกฏของโรงเรียนและกฏหมาย**</p>
    <p>***หากท่านมีสถานะที่ไม่ใข่นักเรียนกรุณาระบุอาชีพในช่องห้องที่กำลังศึกษา***</p>
    <br>
    <p>กดที่ลิงก์ด้านล่างเพื่อกรอกแบบฟอร์ม</p>
    <p>
        <a href="/submit">ไปที่หน้าฟอร์มการจัดส่ง</a>
    </p>
    <p>
        <a href="/login">สำหรับเจ้าหน้าที่: ดูคำขอทั้งหมด</a>
        <br> <br> <br> <br>
        <h1>จัดทำโดยนักเรียนวิชาโครงงานชั้นม.3/5</h1>
        <p>ด.ช.กฤษกร เมืองพิล เลขที่2</p>
        <p>ด.ช.ชัยอนันต์ แก้วโมลี เลขที่6</p>
        <p>ด.ช.ภาณุวัฒน์ อมกระโทก เลขที่10</p>
    </p>
</body>
</html>